<h2>Here you can create a new Challenge</h2>

<mat-card>
  <form [formGroup]="form" (submit)="onSaveChallenge()" >
    <mat-form-field>
      <input
        matInput 
        type="text"
        formControlName = "title"
        placeholder="Challenge Title"
        >
      <mat-error *ngIf="form.get('title').invalid">Please enter a challenge title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="6" 
        type="text"
        formControlName="description"
        placeholder="Challenge Description"
        ></textarea>
      <mat-error *ngIf="form.get('description').invalid">If you like you can enter some description</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="6" 
        type="text"
        formControlName="task"
        placeholder="Challenge Task"
        ></textarea>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput 
        type="text"
        formControlName="videoLink"
        placeholder="Youtube Link"
        >
      <mat-error *ngIf="form.get('videoLink').invalid">Please enter a valid Youtube Link</mat-error>
    </mat-form-field>

    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
      <!-- Hide this input because its ugly. Instead the button simulates the click -->
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>

    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>

    <button
      mat-raised-button
      type="submit">Save Challenge
    </button>

  </form>
</mat-card>



Title
Description
Youtube Link
Rating
Task
Reward