<mat-toolbar>

  <!-- Toolbar LEFT -->
  <div class="toolbar_left"><a href=""><i class="material-icons md-36">menu</i></a></div>
  <div class="toolbar_left"><a href=""><span class="logo"><h2>TheChallenge</h2></span></a></div>

  <div class="toolbar_left">
    <mat-form-field class="searchFormField">
      <mat-label>Search</mat-label>
      <input class="searchField" matInput type="search" placeholder="viech">
    </mat-form-field>
  </div>

  <!-- Toolbar RIGHT -->

  <div class="toolbar_icons_right">
    <a routerLink="/login"><p>LOGIN</p></a>
    <a routerLink="/userAccount"><i class="material-icons md-36">person</i></a>
    <a routerLink="/notifications"><i class="material-icons md-36">notifications</i></a>
    <a routerLink="/settings"><i class="material-icons md-36">settings</i></a>
  </div>
  
</mat-toolbar>