<div id="overview-wrapper">
  <mat-card 
    class="overview1" 
    matBadge="4" 
    matBadgePosition="before"
    matBadgeSize="large" 
    matBadgeColor="black">
    <h3>neue Challenges</h3>
  </mat-card>
  <mat-card 
    class="overview2"
    matBadge="8" 
    matBadgePosition="before"
    matBadgeSize="large" 
    matBadgeColor="black">
    <h3>neue Firmen</h3></mat-card>
  <mat-card 
    class="overview3"
    matBadge="12" 
    matBadgePosition="before"
    matBadgeSize="large" 
    matBadgeColor="black">
    <h3>neue User</h3>
  </mat-card>
</div>
