<div class="challenge-wrapper">
  <div class="video-wrapper">
    <h2>{{challenge.title}}</h2>
    <iframe [src]='safeURL' width="560" height="315" frameborder="0"></iframe>
    <p>{{challenge.description}}</p>
      
      <span><i class="material-icons md-24 fullstar">stars</i></span>
      <span><i class="material-icons md-24 fullstar">stars</i></span>
      <span><i class="material-icons md-24 fullstar">stars</i></span>
      <span><i class="material-icons md-24">stars</i></span>
      <span><i class="material-icons md-24">stars</i></span>

  </div>

  <div class="challenge-sideInfo">
    <div class="company-div">
      <div><i class="material-icons md-72">account_balance</i></div>
      <div>
        <h2>Superreiche Musikfirma</h2>
        <p>Challenge Str. 88 <br> 55555 Mopsburg</p>
      </div>
    </div>
    <div class="challenge-task">
      <h1>AUFGABE</h1>
      <p>{{challenge.task}}</p>
    </div>
    <div class="challenge-reward">
      <h1>BELOHNUNG</h1>
      <p>Platz 1: 10 Millionen Venezuelanische Dollares</p>
      <p>Platz 2: 5 Millionen Venezuelanische Dollares</p>
      <p>Platz 3: 1 Million Venezuelanische Dollares</p>
    </div>
  </div>
</div>


